.Nav {
	display: flex;
	justify-content: flex-end;
}

.NavChild {
	font-size: 2.5rem;
	padding: 2rem;
	text-decoration: underline;
	cursor: pointer;
	font-weight: 500;
}
.NavChild:hover {
		opacity: .5;
	}

